---

apiVersion: machine.openshift.io/v1beta1
kind: MachineSet
metadata:
  labels:
    machine.openshift.io/cluster-api-cluster: {{ cluster_id }}
    machine.openshift.io/cluster-api-machine-role: infra
    machine.openshift.io/cluster-api-machine-type: infra
  name: {{ cluster_id }}-infra-0
  namespace: openshift-machine-api
spec:
  replicas: {{ openshift_number_of_infra_nodes }}
  selector:
    matchLabels:
      machine.openshift.io/cluster-api-cluster: {{ cluster_id }}
      machine.openshift.io/cluster-api-machineset: {{ cluster_id }}-infra-0
  template:
    metadata:
      labels:
        machine.openshift.io/cluster-api-cluster: {{ cluster_id }}
        machine.openshift.io/cluster-api-machine-role: infra
        machine.openshift.io/cluster-api-machine-type: infra
        machine.openshift.io/cluster-api-machineset: {{ cluster_id }}-infra-0
    spec:
      metadata:
        labels:
          node-role.kubernetes.io/infra: ""
      taints:
        - key: node-role.kubernetes.io/infra
          effect: NoSchedule
      providerSpec:
        value:
          apiVersion: libvirtproviderconfig.openshift.io/v1beta1
          autostart: false
          cloudInit: null
          domainMemory: {{ openshift_infra_memory_size }}
          domainVcpu: {{ openshift_infra_number_of_cpus }}
          ignKey: ""
          ignition:
            userDataSecret: worker-user-data
          kind: LibvirtMachineProviderConfig
          networkInterfaceAddress: {{ machine_network_prefix }}.0/24
          networkInterfaceHostname: ""
          networkInterfaceName: {{ cluster_id }}
          networkUUID: ""
          uri: qemu+tcp://192.168.122.1/system
          volume:
            baseVolumeID: {{ cluster_id }}-base
            poolName: {{ cluster_id }}
            volumeName: ""
            volumeSize: {{ openshift_infra_root_volume_size }}
