---

apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  labels:
    machineconfiguration.openshift.io/role: infra
  name: 99-infra-ssh
spec:
  config:
    ignition:
      version: 3.2.0
    passwd:
      users:
      - name: core
        sshAuthorizedKeys:
        - |
          {{ ocp_ssh_key_pub['content'] | b64decode | trim }}
  extensions: null
  fips: false
  kernelArguments: null
  kernelType: ""
  osImageURL: ""
