apiVersion: v1
baseDomain: {{ cluster_base_domain }}
compute:
- architecture: {{ architecture_alias }}
  hyperthreading: Enabled
  name: worker
  replicas: {{ cluster_number_of_workers }}
controlPlane:
  architecture: {{ architecture_alias }}
  hyperthreading: Enabled
  name: master
  replicas: 3
metadata:
  creationTimestamp: null
  name: {{ cluster_name }}
networking:
  clusterNetwork:
  - cidr: {{ cluster_network }}
    hostPrefix: {{ cluster_network_hostprefix }}
  machineNetwork:
  - cidr: {{ machine_network_prefix }}.0/24
  networkType: OpenShiftSDN
  serviceNetwork:
{% for sn in service_networks %}
  - {{ sn }}
{% endfor %}

platform:
  libvirt:
    network:
      if: tt0
pullSecret: '{{ pull_secret_file | trim }}'
sshKey: |
  {{ ocp_ssh_key_pub['content'] | b64decode | trim }}
