<host ip='{{ machine_network_prefix }}.1'>
  <hostname>noobaa-mgmt-openshift-storage.apps.{{ cluster_name }}.{{ cluster_base_domain }}</hostname>
  <hostname>alertmanager-main-openshift-monitoring.apps.{{ cluster_name }}.{{ cluster_base_domain }}</hostname>
  <hostname>console-openshift-console.apps.{{ cluster_name }}.{{ cluster_base_domain }}</hostname>
  <hostname>downloads-openshift-console.apps.{{ cluster_name }}.{{ cluster_base_domain }}</hostname>
  <hostname>grafana-openshift-monitoring.apps.{{ cluster_name }}.{{ cluster_base_domain }}</hostname>
  <hostname>oauth-openshift.apps.{{ cluster_name }}.{{ cluster_base_domain }}</hostname>
  <hostname>prometheus-k8s-openshift-monitoring.apps.{{ cluster_name }}.{{ cluster_base_domain }}</hostname>
  <hostname>rgw.apps.{{ cluster_name }}.{{ cluster_base_domain }}</hostname>
  <hostname>rgw.router-default.apps.{{ cluster_name }}.{{ cluster_base_domain }}</hostname>
  <hostname>s3-openshift-storage.apps.{{ cluster_name }}.{{ cluster_base_domain }}</hostname>
  <hostname>canary-openshift-ingress-canary.apps.{{ cluster_name }}.{{ cluster_base_domain }}</hostname>
  <hostname>default-route-openshift-image-registry.apps.{{ cluster_name }}.{{ cluster_base_domain }}</hostname>
{% if image_cache_up | default(false) %}
{% if image_cache.type == 'local' | default(false) %}
  <hostname>{{ local_ocp_image_cache_hostname }}</hostname>
{% endif %}
{% endif %}
</host>
