
[defaults]
inventory = ./inventory
nocows = 1
forks = 20
strategy = free
pipelining = yes
ssh_args = -o ControlMaster=auto -o ControlPersist=3600s -o PreferredAuthentications=publickey
callbacks_enabled = ansible.posix.timer
stdout_callback = community.general.yaml
show_custom_stats = yes
show_per_host_start = yes
display_skipped_hosts = no
display_failed_stderr = yes
invalid_task_attribute_failed = no
deprecation_warnings = no
async_dir = /tmp/.ansible_async
